/* 初始化样式 */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 100%;
}

td,
th,
caption {
    font-size: 14px;
}

a {
    color: rgba(71, 71, 71);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

html {
    overflow-y: scroll;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 12px;
    max-height: 3px;
}


/* 滚动条背景颜色 */

::-webkit-scrollbar-track-piece {
    background-color: #f3ecec;
}


/* 滚动条颜色 */

::-webkit-scrollbar-thumb {
    background-color: #b6b2b2;
    border-radius: 5px;
}


/* logo尺寸 */

.svg_logo {
    fill: rgba(255, 255, 255, 0.9);
}

.nav_svg {
    margin-top: -1rem;
}

@media (max-width:570px) {
    .navbar-brand img {
        width: 125px !important;
        height: 50px !important;
    }
}


/* 设置小于1000px折叠的导航栏样式 */

@media (min-width:1200px) {
    .nav-item>a {
        /***** 一级导航给定高度 *****/
        padding: 30px 10px 20px;
    }
}

@media (max-width:1200px) {
    .nav-item>a {
        /***** 一级导航给定高度 *****/
        line-height: 25px;
    }
}

@media (max-width:1350px) {
    .nav-item>a,
    .navbar-text>a,
    #nav_main>a {
        font-size: 14px !important;
    }
}

.nav-item>a,
.navbar-text>a {
    color: rgb(255, 255, 255) !important;
    font-weight: light;
}

.navbar-text>a {
    text-decoration: none;
}

.nav-item>a:hover {
    font-weight: normal;
}

.flex-grow_0 {
    flex-grow: 0.15
}

@media(max-width:1200px) {
    .flex-grow_0 {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1200px) {
    .flex-grow_0>a {
        margin-left: 0px !important;
        line-height: 40px;
    }
}

@media(min-width:1200px) {
    .flex-grow_0>a:nth-child(3) {
        box-sizing: border-box;
        border: 2px solid rgb(29, 140, 198);
        padding: 6px 22px 9px;
        line-height: 25px;
        background-color: rgba(29, 140, 198, 1);
    }
}

.flex-grow_0>a:nth-child(3):hover {
    color: rgb(29, 140, 198) !important;
    background-color: rgba(29, 140, 198, 0);
}

.video_container {
    width: 100vw;
    height: 50rem;
    overflow: hidden;
}

@media (min-width:1200px) {
    .shade_h1 {
        font-size: 65px !important;
    }
    ;
    .shade_h2 {
        font-size: 25px !important;
    }
}

@media (max-width:1200px) {
    .shade_h1 {
        font-size: 50px !important;
    }
}

@media (max-width:750px) {
    .shade_h1 {
        font-size: 32px !important;
    }
}

@media (min-width:1200px) {
    .shade_h2 {
        font-size: 25px !important;
    }
}

@media (max-width:1200px) {
    .shade_h2 {
        font-size: 15px !important;
    }
}

@media (max-width:1200px) {
    .shade_top {
        top: 26% !important;
    }
}

@media (max-width:900px) {
    .shade_top {
        top: 20% !important;
    }
}

@media (max-width:570px) {
    .shade_top {
        top: 12% !important;
    }
}


/* 导航栏角标 */


/* @media(max-width:1000px) {
    .nav_active {
        opacity: 0;
    }
}

@media (min-width:1200px) {
    .nav_active {
        opacity: 1 !important;
    }
} */


/* @media(min-width:1200px) {
    .active::after {
        content: "";
        display: block;
        width: 100%;
        position: relative;
        top: 11px;
        height: 4px;
        background-color: rgb(29, 140, 198);
        opacity: 0;
    }
} */

@media(min-width:1200px) {
    .nav_active {
        box-sizing: border-box;
        border-bottom: 4px solid rgb(29, 140, 198);
    }
}

@media(min-width:1200px) {
    .p_ul>li {
        padding-bottom: 11px;
    }
}


/* 导航折叠区 */

.flod_container {
    width: 100vw;
    box-sizing: border-box;
    top: 95px;
    border-top: 4px solid rgb(217, 217, 217);
    left: -35px;
}

.flod_ul>li {
    margin-top: 10px;
}

.f_active {
    background-color: rgb(0 0 0 / 70%);
}


/* 导航折叠区图片 */

.nav_img_h3 {
    font-size: 14px;
    line-height: 1;
    padding: 0 0 8px 0;
    font-weight: 700;
    border-bottom: 1px solid rgb(29 140 198);
    white-space: nowrap;
}

.filament>a {
    font-size: 15px;
}

.nav_filament_h3 {
    width: 200px;
    font-size: 15px;
    line-height: 1;
    padding: 0 0 8px 0;
    font-weight: 600;
    border-bottom: 1px solid rgb(29 140 198);
    white-space: nowrap;
}

.nav_filament_left {
    position: absolute;
    left: 10%;
}

.filament_img {
    width: 80%!important;
}

.filament_N {
    position: absolute;
    bottom: 5%;
    left: 17%;
    width: 700px;
    height: 40px;
    background-color: rgba(29, 140, 198, 1);
    font-size: 16px;
    line-height: 36px;
    border: 2px solid rgb(29, 140, 198);
}

.filament_N:hover {
    background: none;
}

.filament_N:hover .filament_N_a {
    color: rgb(29, 140, 198);
}

.filament_N_a {
    color: white;
}

.filament_li {
    padding: 6px 2px;
    font-size: 15px;
}

.filament_li:hover {
    cursor: pointer;
    background-color: rgb(229, 229, 229)!important;
    font-weight: 550;
    /* color: rgb(29, 140, 198); */
}


/* software */

.icon_a {
    width: 200px;
    height: 40px;
    border: 2px solid white;
    line-height: 35px;
    color: white;
}


/* svg图标 */

.icon_img {
    width: 80px;
    height: 80px;
    margin-left: 70px;
}

.icon_a:hover {
    background-color: white;
    color: black;
}


/* 软件页视频 */

.software_video_main {
    width: 100%;
    position: relative;
    height: 660px;
    /* height: 60%; */
    overflow: hidden;
    margin-top: 20px;
}

.software_video {
    position: absolute;
    width: 100%;
    top: -35%;
}

.video_svg_white,
.video_svg_black {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    cursor: pointer;
}

.video_svg_white:hover {
    /* background-color: white;
    border-radius: 50%; */
    opacity: 0;
}


/* 视频板块2 */

.video_t_h1 {
    padding: 50px 0;
    font-size: 50px;
}

.video_t_ul {
    margin-top: 10px;
}

.video_t_ul>li {
    border-bottom: 1px solid rgb(101, 101, 101);
    margin: 0 20px;
    width: 230px;
    height: 45px;
    padding-left: 40px;
    padding-right: 20px;
    cursor: pointer;
}

.video_t {
    width: 827px;
    height: 465px;
}

.video_t_main {
    margin-top: 50px;
}


/* 设置隐藏属性 */

.video_t_flex {
    /* position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid blanchedalmond; */
    width: 100%;
}

.slide_show {
    width: 100%;
    display: flex;
}

.transX {
    width: 100%;
    flex-shrink: 0;
    /* transform: translate(1680px, 0px); */
    transition: all 1s ease;
}


/* .video_main_left:not(.video_main_li:nth-of-type(1)) {
    transform: scale(0.1);
    transition: all 2s ease;
} */