/* 初始化样式 */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 100%;
}

td,
th,
caption {
    font-size: 14px;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
i,
b,
strong {
    font-style: normal;
    font-weight: normal;
}

a {
    /* color: #555; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
    vertical-align: middle;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
    max-height: 3px;
}


/* 滚动条背景颜色 */

::-webkit-scrollbar-track-piece {
    background-color: #f3ecec;
}


/* 滚动条颜色 */

::-webkit-scrollbar-thumb {
    background-color: #b6b2b2;
    border-radius: 5px;
}


/* logo尺寸 */

.svg_logo {
    fill: rgba(255, 255, 255, 0.9);
}

@media (max-width:570px) {
    .navbar-brand img {
        width: 125px !important;
        height: 50px !important;
    }
}


/* 设置小于1000px折叠的导航栏样式 */

@media (min-width:1200px) {
    .nav-item>a {
        /***** 一级导航给定高度 *****/
        padding: 30px 10px 20px;
    }
}

@media (max-width:1200px) {
    .nav-item>a {
        /***** 一级导航给定高度 *****/
        line-height: 25px;
    }
}

@media (max-width:1350px) {
    .nav-item>a,
    .navbar-text>a,
    #nav_main>a {
        font-size: 14px !important;
    }
}

.nav-item>a,
.navbar-text>a {
    color: rgb(255, 255, 255) !important;
    font-weight: light;
}

.navbar-text>a {
    text-decoration: none;
}

.nav-item>a:hover {
    font-weight: normal;
}

.flex-grow_0 {
    flex-grow: 0.15
}

@media(max-width:1200px) {
    .flex-grow_0 {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1200px) {
    .flex-grow_0>a {
        margin-left: 0px !important;
        line-height: 40px;
    }
}

@media(min-width:1200px) {
    .flex-grow_0>a:nth-child(3) {
        box-sizing: border-box;
        border: 2px solid rgb(29, 140, 198);
        padding: 6px 22px 9px;
        line-height: 25px;
        background-color: rgba(29, 140, 198, 1);
    }
}

.flex-grow_0>a:nth-child(3):hover {
    color: rgb(29, 140, 198) !important;
    background-color: rgba(29, 140, 198, 0);
}

.video_container {
    width: 100vw;
    height: 50rem;
    overflow: hidden;
}

@media (min-width:1200px) {
    .shade_h1 {
        font-size: 65px !important;
    }
    ;
    .shade_h2 {
        font-size: 25px !important;
    }
}

@media (max-width:1200px) {
    .shade_h1 {
        font-size: 50px !important;
    }
}

@media (max-width:750px) {
    .shade_h1 {
        font-size: 32px !important;
    }
}

@media (min-width:1200px) {
    .shade_h2 {
        font-size: 25px !important;
    }
}

@media (max-width:1200px) {
    .shade_h2 {
        font-size: 15px !important;
    }
}

@media (max-width:1200px) {
    .shade_top {
        top: 26% !important;
    }
}

@media (max-width:900px) {
    .shade_top {
        top: 20% !important;
    }
}

@media (max-width:570px) {
    .shade_top {
        top: 12% !important;
    }
}


/* 导航栏角标 */

<<<<<<< HEAD

/* @media(max-width:1000px) {
    .nav_active {
=======
@media(max-width:1000px) {
    .nav_active::after {
>>>>>>> 0daff70e78dc527cb4e5177f3a9613bc4e1b0232
        opacity: 0;
    }
}

@media (min-width:1200px) {
<<<<<<< HEAD
    .nav_active {
        opacity: 1 !important;
    }
} */


/* @media(min-width:1200px) {
=======
    .nav_active::after {
        opacity: 1 !important;
    }
}

@media(min-width:1200px) {
>>>>>>> 0daff70e78dc527cb4e5177f3a9613bc4e1b0232
    .active::after {
        content: "";
        display: block;
        width: 100%;
        position: relative;
        top: 11px;
        height: 4px;
        background-color: rgb(29, 140, 198);
        opacity: 0;
    }
<<<<<<< HEAD
} */

@media(min-width:1200px) {
    .nav_active {
        box-sizing: border-box;
        border-bottom: 4px solid rgb(29, 140, 198);
    }
=======
>>>>>>> 0daff70e78dc527cb4e5177f3a9613bc4e1b0232
}

@media(min-width:1200px) {
    .p_ul>li {
<<<<<<< HEAD
        padding-bottom: 11px;
=======
        padding-bottom: 6px;
>>>>>>> 0daff70e78dc527cb4e5177f3a9613bc4e1b0232
    }
}


/* 导航折叠区 */

.flod_container {
    width: 100%;
    box-sizing: border-box;
    top: 95px;
    border-top: 4px solid rgb(217, 217, 217);
}

.flod_ul>li {
    margin-top: 10px;
}

.f_active {
    background-color: rgb(0 0 0 / 70%);
}


/* 导航折叠区图片 */

.nav_img_h3 {
    font-size: 14px;
    line-height: 1;
    padding: 0 0 8px 0;
    font-weight: 700;
    border-bottom: 1px solid rgb(29 140 198);
    white-space: nowrap;
}