/* 初始化样式 */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 100%;
}

td,
th,
caption {
    font-size: 14px;
}

a {
    color: rgba(71, 71, 71);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

html {
    overflow-y: scroll;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 12px;
    max-height: 3px;
}


/* 滚动条背景颜色 */

::-webkit-scrollbar-track-piece {
    background-color: #f3ecec;
}


/* 滚动条颜色 */

::-webkit-scrollbar-thumb {
    background-color: #b6b2b2;
    border-radius: 5px;
}


/* logo尺寸 */

.svg_logo {
    fill: rgba(255, 255, 255, 0.9);
}

.nav_svg {
    margin-top: -1rem;
}

@media (max-width:570px) {
    .navbar-brand img {
        width: 125px !important;
        height: 50px !important;
    }
}


/* 设置小于1000px折叠的导航栏样式 */

@media (min-width:1200px) {
    .nav-item>a {
        /***** 一级导航给定高度 *****/
        padding: 30px 10px 20px;
    }
}

@media (max-width:1200px) {
    .nav-item>a {
        /***** 一级导航给定高度 *****/
        line-height: 25px;
    }
}

@media (max-width:1350px) {
    .nav-item>a,
    .navbar-text>a,
    #nav_main>a {
        font-size: 14px !important;
    }
}

.nav-item>a,
.navbar-text>a {
    color: rgb(255, 255, 255) !important;
    font-weight: light;
}

.navbar-text>a {
    text-decoration: none;
}

.nav-item>a:hover {
    font-weight: normal;
}

.flex-grow_0 {
    flex-grow: 0.15
}

@media(max-width:1200px) {
    .flex-grow_0 {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1200px) {
    .flex-grow_0 a {
        margin-left: 0px !important;
        line-height: 40px;
    }
}


/* get a quote */

@media(min-width:1200px) {
    .flex-grow_0>a:nth-child(4) {
        box-sizing: border-box;
        border: 2px solid rgb(29, 140, 198);
        padding: 6px 22px 9px;
        line-height: 25px;
        background-color: rgba(29, 140, 198, 1);
    }
}

.flex-grow_0 a:nth-child(4):hover {
    color: rgb(29, 140, 198) !important;
    background-color: rgba(29, 140, 198, 0);
}

.video_container,
.video_container_s {
    width: 100%;
}

.video_container_s {
    height: 90vh;
    overflow: hidden;
}

@media(min-width:1350px) {
    .video_nav_main {
        width: 100%;
    }
}

@media(max-width:600px) {
    .video_container_s {
        height: 60vh;
    }
}

@media (min-width:1200px) {
    .shade_h1 {
        font-size: 50px !important;
    }
    ;
    .shade_h2 {
        font-size: 20px !important;
    }
}

@media (max-width:1200px) {
    .shade_h1 {
        font-size: 50px !important;
    }
}

@media (max-width:750px) {
    .shade_h1 {
        font-size: 32px !important;
    }
}

@media (min-width:1200px) {
    .shade_h2 {
        font-size: 20px !important;
    }
}

@media (max-width:1200px) {
    .shade_h2 {
        font-size: 15px !important;
    }
}

@media (max-width:1200px) {
    .shade_top {
        top: 26% !important;
    }
}

@media (max-width:900px) {
    .shade_top {
        top: 20% !important;
    }
}

@media (max-width:570px) {
    .shade_top {
        top: 22% !important;
    }
}

@media(min-width:1200px) {
    .nav_active {
        box-sizing: border-box;
        border-bottom: 4px solid rgb(29, 140, 198);
    }
}

@media(min-width:1200px) {
    .p_ul>li {
        padding-bottom: 11px;
    }
}


/* 导航折叠区 */

.flod_container {
    width: 100vw;
    box-sizing: border-box;
    top: 95px;
    border-top: 4px solid rgb(217, 217, 217);
    left: -2rem;
}

.flod_ul>li {
    margin-top: 10px;
}

.f_active {
    background-color: rgb(0 0 0 / 90%);
}


/* 导航折叠区图片 */

.nav_img_h3 {
    font-size: 14px;
    line-height: 1;
    padding: 0 0 8px 0;
    font-weight: 700;
    border-bottom: 1px solid rgb(29 140 198);
    white-space: nowrap;
}

.filament>a {
    font-size: 15px;
}

.nav_filament_h3 {
    width: 200px;
    font-size: 15px;
    line-height: 1;
    padding: 0 0 8px 0;
    font-weight: 600;
    border-bottom: 1px solid rgb(29 140 198);
    white-space: nowrap;
}

@media(min-width:1500px) {
    .nav_filament_left {
        left: 10%;
    }
}

.nav_filament_left {
    position: absolute;
}

.filament_img {
    width: 82%!important;
}

@media(max-width:1500px) {
    .filament_img {
        width: 82%!important;
    }
}

@media(min-width:1500px) {
    .nav_filament_margin {
        margin-left: 3rem;
    }
}

@media(min-width:1500px) {
    .nav_main_contaienr {
        margin-left: 80px;
    }
}

@media(max-width:1500px) {
    .nav_main_contaienr {
        margin-left: 0px !important;
    }
}

@media(min-width:1500px) {
    .printer-margin-x {
        margin: 0 10px;
    }
}

.nav_main_text:nth-child(1) {
    margin-left: 0px;
}

.nav_main_text {
    margin-left: 100px;
}

@media(max-width:1500px) {
    .nav_main_text {
        margin-left: 0px !important;
    }
}

@media(max-width:1500px) {
    .software-img {
        width: 60%;
        transform: rotateY(46deg)
    }
}

.software-icon {
    position: absolute;
    left: 22%;
    top: 12%;
}

@media(max-width:1500px) {
    .software-icon {
        left: 15%;
    }
}

.filament_N {
    position: absolute;
    bottom: 5%;
    left: 17%;
    width: 700px;
    height: 40px;
    background-color: rgba(29, 140, 198, 1);
    font-size: 16px;
    line-height: 36px;
    border: 2px solid rgb(29, 140, 198);
}

.filament_N:hover {
    background: none;
}

.filament_N:hover .filament_N_a {
    color: rgb(29, 140, 198);
}

.filament_N_a {
    color: white;
}

.filament_li {
    padding: 6px 2px;
    font-size: 15px;
}

.filament_li:hover {
    cursor: pointer;
    background-color: rgb(229, 229, 229)!important;
    font-weight: 550;
    /* color: rgb(29, 140, 198); */
}


/* software */

.icon_a {
    width: 200px;
    height: 40px;
    border: 2px solid white;
    line-height: 35px;
    color: white;
}


/* svg图标 */

.icon_img {
    width: 80px;
    height: 80px;
    margin-left: 70px;
}

.icon_a:hover {
    background-color: white;
    color: black;
}

.shade_bottom>a {
    display: inline-block;
    width: 250px;
    height: 40px;
    padding: 0px 15px;
    line-height: 35px;
    box-sizing: border-box;
}

.trans_s:hover {
    transform: scale(1.1);
}

.trans_s {
    transition: all 1s linear;
}

.shade_bottom>a:nth-child(1) {
    box-sizing: border-box;
    border: 2px solid rgb(29, 140, 198);
    background-color: rgba(29, 140, 198, 1);
    color: white;
    margin-right: 10px;
}

.shade_bottom>a:nth-child(1):hover {
    color: rgb(29, 140, 198) !important;
    background-color: rgba(29, 140, 198, 0);
}

.shade_bottom>a:nth-child(2) {
    box-sizing: border-box;
    border: 2px solid white;
    color: white;
    margin-left: 10px;
}

.shade_bottom>a:nth-child(2):hover {
    color: rgb(29, 140, 198) !important;
    background-color: white;
    color: black!important;
}

@media(max:650px) {
    .shade_bottom>a:nth-child(2) {
        margin-top: 50px;
    }
}

.shade_bottom_s .col-12 a {
    display: inline-block;
    width: 100vw;
    height: 70px;
    padding: 15px 9px;
    font-size: 22px;
    box-sizing: border-box;
    font-weight: 600;
    text-align: center;
}

.shade_bottom_s .col-12:first-child {
    border: 2px solid rgba(29, 140, 198, 0);
    background-color: rgba(29, 140, 198, 1);
    color: white!important;
}

.shade_bottom_s .col-12:first-child:hover {
    border: 2px solid rgba(29, 140, 198, 1);
    background-color: rgba(29, 140, 198, 0);
    color: rgb(29, 140, 198);
}

.shade_bottom_s .col-12:last-child {
    background-color: black;
}

.shade_bottom_s .col-12:last-child:hover {
    background-color: rgb(77, 76, 76);
}

.line_active {
    color: rgb(29 140 198) !important;
    font-weight: bold;
    border: 2px solid rgb(29 140 198) !important;
}


/* 中英文切换 */

.navbar_text_a {
    display: inline-block;
    position: relative;
}

.navbar_text_span {
    display: block;
    border: 51.35em solid rgba(14, 10, 10, 0);
    border-top: 19.5em solid;
    position: absolute;
    top: 8px;
    right: -15px;
    border-width: 5px;
    cursor: pointer;
}

.nav_bar_change {
    display: block;
    position: absolute;
    right: -1.1rem;
    background-color: rgb(255 255 255)!important;
    top: 2rem;
    width: 50px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    visibility: hidden;
    color: black;
}

.nav_bar_change:hover {
    font-weight: 600;
}


/* 软件页视频 */

.software_video_main {
    width: 100%;
    position: relative;
    height: 35vw;
    overflow: hidden;
    margin-top: 20px;
}

@media(min-width:1200px) {
    .software_video {
        position: absolute;
        top: -25%;
    }
}

@media(max-width:1200px) {
    .software_video {
        position: absolute;
        top: -20%;
    }
}

@media(max-width:900px) {
    .software_video {
        position: absolute;
        top: -15%;
    }
}

@media(max-width:750px) {
    .software_video {
        position: absolute;
        top: -5%;
    }
}

@media(max-width:500px) {
    .software_video {
        position: absolute;
        top: 0;
    }
}

.video_svg_white,
.video_svg_black {
    position: absolute;
    left: calc(50% - 40px);
    cursor: pointer;
}

@media(min-width:1200px) {
    .video_svg_white,
    .video_svg_black {
        top: calc(50% - 40px);
    }
}

@media(max-width:1200px) {
    .video_svg_white,
    .video_svg_black {
        top: calc(30% - 40px);
    }
}

@media(max-width:900px) {
    .video_svg_white,
    .video_svg_black {
        top: calc(25% - 40px);
    }
}

@media(max-width:750px) {
    .video_svg_white,
    .video_svg_black {
        top: 20%;
    }
}

.video_svg_white:hover {
    opacity: 0;
}


/* 软件第一页背景图 */

.soft_img_fluid {
    position: relative;
}

@media(max-width:1200px) {
    .soft_img_fluid {
        left: -30%;
    }
}

@media(max-width:900px) {
    .soft_img_fluid {
        left: -50%;
    }
}

@media(max-width:750px) {
    .soft_img_fluid {
        left: -80%;
    }
}


/* 视频板块2 */

.video_t_h1 {
    padding: 0;
    font-size: 50px;
}

@media(max-width:550px) {
    .video_t_h1 {
        padding: 0;
        font-size: 25px;
    }
}

.video_t_ul {
    margin-top: 50px;
}

.video_t_ul>li {
    border-bottom: 1px solid rgb(101, 101, 101);
    margin: 0 20px;
    width: 230px;
    height: 45px;
    text-align: center;
    cursor: pointer;
}

@media(max-width:550px) {
    .video_t_ul>li {
        margin: 0 4px;
    }
}

.video_t_ul_one>li {
    width: 200px;
}

.video_t_ul_two>li {
    width: 180px;
}

.video_t {
    width: 827px;
    height: 465px;
}

.video_t_main {
    margin-top: 50px;
}


/* 设置隐藏属性 */

.video_t_flex {
    width: 100%;
}

.slide_show {
    width: 100%;
    display: flex;
}

.transX {
    width: 100%;
    flex-shrink: 0;
    transition: all 1s ease;
}


/* 耗材图片速维科技creatbot */

.filament_size {
    margin-right: -60px;
    margin-top: -4px;
}

.border_bottom {
    border-top: 1px solid rgb(204, 204, 204)!important;
    margin-top: 66px;
}

.filament_font li {
    background-color: rgb(0 0 0 / 0%);
    border: 2px solid;
    color: rgb(255, 255, 255);
    width: 125px;
    height: 40px;
    text-align: center;
    line-height: 32px;
    margin-top: 10px;
    cursor: pointer;
    list-style: none;
}

.filament_font li:hover a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.filament_font li:hover {
    background-color: rgb(29, 140, 198);
}

.filament_hr hr {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(218, 214, 214);
    margin-top: 30px;
    margin-bottom: 30px;
}

.filament_font a {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.cursor {
    cursor: pointer;
}


/* 小于1200px nav */

.navbar-phone {
    width: 0;
    height: 100vh;
    background-color: rgb(2, 6, 7);
    position: fixed;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    transition: 300ms;
}

.navbar-phone .container-buttom li a {
    color: white;
}

.navbar-phone .container-buttom li {
    padding: 5px 0;
    border-bottom: 1px solid rgb(28, 31, 32);
    height: 50px;
    height: auto;
    line-height: 37px;
}

.navbar-phone .container-top {
    position: relative;
    padding: 0;
}

.navbar-phone .container-top-left {
    border-bottom: 1px solid white;
    height: 60px;
    padding: 0;
    width: 100%;
}

.navbar-phone .container-top .container-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.navbar-phone .container-buttom .navbar-phone-text .navbar-phone-filament p {
    color: rgb(163, 165, 165);
    font-size: 17px;
    border-bottom: 1px solid rgb(28, 31, 32);
}

.navbar-phone .container-buttom .navbar-phone-text {
    display: none;
}

.navbar-phone-filament .filament-main-text {
    height: 0;
    overflow: hidden;
    border: none;
    color: rgb(163, 165, 165);
}

.navbar-phone-text p {
    border-bottom: 1px solid rgb(28, 31, 32);
}


/* F1000 详情页*/


/* 背景图片 */

.F1000_firstSection_bg {
    background: url(../images/F1000/bg2.jpg);
    /* height: 43vw; */
    background-position-y: bottom;
    background-size: cover;
    /* padding-bottom: 20px; */
}

.D600_firstSection_bg {
    background: url(../images/D600/bg2.jpg);
    /* height: 43vw; */
    background-position-y: bottom;
    background-size: cover;
    /* padding-bottom: 20px; */
}

.trans_scale {
    transform: scale(0.75);
}

@media(max-width:900px) {
    html {
        font-size: 80%!important;
    }
}

.list_disc {
    list-style: disc;
}

@media(max-width:765px) {
    .bl-0 {
        border-left: 0px!important;
    }
}

@media(max-width:765px) {
    .br-0 {
        border-right: 0!important;
    }
}

.filament_shadow_div {
    box-shadow: 1px 1px 7px -2px rgb(0 0 0 / 20%);
    padding-right: 10px;
}

.filament_shadow:hover .filament_shadow_div {
    box-shadow: 2px 3px 7px -2px rgba(0, 0, 0, 0.5);
}

.index-svg {
    height: 4em;
    margin: 0 auto;
}

@media(max-width:590px) {
    .index-svg {
        height: 2em;
        margin-top: 1em;
    }
}

.hover-black:hover {
    color: rgb(71, 71, 71)
}

.btn-blue {
    background-color: #1D8CC6;
}

.btn-b {
    border: 2px solid #1D8CC6;
}

.shadow-s {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 20px !important;
    cursor: pointer;
}


/* D600详情页视频尺寸 */

@media(min-width:1600px) {
    .D600_video {
        top: -30em;
    }
}

@media(max-width:1600px) {
    .D600_video {
        top: -26em;
    }
}

@media(max-width:1200px) {
    .D600_video {
        top: -19em;
    }
}

@media(max-width:900px) {
    .D600_video {
        top: -9em;
    }
}

@media(min-width:1600px) {
    .D600_video_container {
        height: 40em;
    }
}

@media(max-width:1600px) {
    .D600_video_container {
        height: 20em;
    }
}

@media(max-width:1200px) {
    .D600_video_container {
        height: 20em;
    }
}

@media(max-width:1200px) {
    .D600_video_container {
        height: 20em;
    }
}

.swiper-slide-thumb-active {
    border: 3px solid #1D8CC6;
    border-radius: 10px;
}

.footer,
.form-control {
    font-size: 0.875rem;
}

.footer a {
    color: #1D8CC6;
}

.footer a:hover {
    color: black;
    text-decoration: underline;
}

.rounded div table tbody tr td:nth-child(1) {
    width: 22%;
}

@media(min-width:1200px) {
    .rounded div table tbody tr td {
        line-height: 25px;
    }
}

.form-group>label {
    font-weight: 600;
}

.font-ring {
    color: #f90;
    border: 2px solid #f90;
    border-radius: 0.3rem;
    padding: 0.15em;
    font-size: 80%;
    font-weight: 700;
    display: inline-block;
    line-height: 1;
}